.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    margin-bottom: 0px;
    color: var(--color-text);
}

.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menuBtn{
    display: none;
}

.menu{
    display: flex;
}

.menuItems{
    display:flex;
    gap: 47px;
    list-style: none;
    background-color: var(--color-bg);
}

.menuItems a{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}




